

<nav class="navbar navbar-expand-md navbar-light bg-dark" >
    <a class="navbar-brand text-light" href="#">Dengue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars text-light" aria-hidden="true"></i></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <div class="container">
            <div class="row">
                <div class="col-md-9 offset-md-3 text-right">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-between">
                                <li class="nav-item active">
                                        <a href="/" class="nav-link1" alt="About">About</a>
                                </li>
                                <li class="nav-item active">
                                        <a href="Transmission" class="nav-link1" alt="Transmission">Transmission</a>
                                    </li>
                                <li class="nav-item active">
                                        <a href="Prevention" class="nav-link1" alt="Prevention">Prevention</a>
                                    </li>
                                <li class="nav-item active">
                                        <a href="Treatment" class="nav-link1" alt="Treatment">Treatment</a>
                                    </li>
                        </ul>
                </div>
            </div>
        </div>
       

          
    </div>
</nav>
<br><br>
