
<div class="container">
        <h1 class="font-weight-bolder">Transmission</h1><hr>
        <br><br>

    <div class="row">
        <div class="col-md-12">
                Dengue/Severe dengue frequently asked questions
                Who spreads dengue and severe dengue?
                
                Dengue is spread through the bite of the female mosquito (Aedes aegypti). The mosquito becomes infected when it takes the blood of a person infected with the virus. After about one week, the mosquito can then transmit the virus while biting a healthy person. The mosquito can fly up to 400 meters looking for water-filled containers to lay their eggs but usually remains close to the human habitation.
                
                Aedes aegypti is a daytime feeder: The peak biting periods are early in the morning and in the evening before dusk.
                
                Dengue cannot be spread directly from person to person. However, a person infected and suffering from dengue fever can infect other mosquitoes. Humans are known to carry the infection from one country to another or from one area to another during the stage when the virus circulates and reproduces in the blood system.
                
                Aedes aegypti has evolved into an intermittent biter and prefers to bite more than one person during the feeding period. This mechanism has made Aedes aegypti a very highly efficient epidemic vector mosquito.
                
                
        </div>
    </div>
</div>

