

<div class="container">
        <h1 class="font-weight-bolder">Treatment</h1><hr>
        <br><br>

    <div class="row">
        <div class="col-md-12">
                There is no specific medicine to treat dengue infection.
                 If you think you may have dengue fever, you should use pain 
                 relievers with acetaminophen and avoid medicines with aspirin, 
                 which could worsen bleeding. You should also rest, drink plenty of fluids,
                  and see your doctor. If you start to feel worse in the first 24 hours after your fever goes down, 
                  you should get to a hospital immediately to be checked for complications.
        </div>
    </div>
</div>

